In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
atp_2015 = pd.read_csv("atp_2015.csv")

In [3]:
atp_2015_test = atp_2015.head(50)

In [4]:
players = atp_2015["winner_name"]

In [5]:
players_list = players.unique()

In [6]:
players_test = atp_2015_test["winner_name"]

In [7]:
players_list_test = players_test.unique()

In [8]:
atp_2015.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'winner_rank', 'winner_rank_points', 'loser_id', 'loser_seed',
       'loser_entry', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc',
       'loser_age', 'loser_rank', 'loser_rank_points', 'score', 'best_of',
       'round', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon',
       'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df',
       'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved',
       'l_bpFaced'],
      dtype='object')

In [9]:
##change players_list to players_list_test for testing
stat_player_df = pd.DataFrame({'name':players_list})

In [10]:
len(stat_player_df)

192

In [11]:
grouped_atp_2015 = atp_2015.groupby(["winner_name"])

In [12]:
aces = grouped_atp_2015["w_ace"].sum()
service_games = grouped_atp_2015["w_SvGms"].sum()
first_serve_in = grouped_atp_2015["w_1stIn"].sum()
first_serves_won = grouped_atp_2015["w_1stWon"].sum()
doubfts = grouped_atp_2015["w_df"].sum()
total_brk_saved = grouped_atp_2015["w_bpSaved"].sum()
total_brk_faced = grouped_atp_2015["w_bpFaced"].sum()
rt_games_total = grouped_atp_2015["l_SvGms"].sum()
break_point_opp_total = grouped_atp_2015["l_bpFaced"].sum()
break_point_opp_loss = grouped_atp_2015["l_bpSaved"].sum()
svpt_total = grouped_atp_2015["w_svpt"].sum()

In [13]:
grouped_atp_2015_losers = atp_2015.groupby(["loser_name"])

In [14]:
aces_1 = grouped_atp_2015_losers["l_ace"].sum()
service_games_1 = grouped_atp_2015_losers["l_SvGms"].sum()
first_serve_in_l = grouped_atp_2015_losers["l_1stIn"].sum()
first_serves_won_l = grouped_atp_2015_losers["l_1stWon"].sum()
doubfts_l = grouped_atp_2015_losers["l_df"].sum()
total_brk_saved_l = grouped_atp_2015_losers["l_bpSaved"].sum()
total_brk_faced_l = grouped_atp_2015_losers["l_bpFaced"].sum()
rt_games_total_l = grouped_atp_2015_losers["w_SvGms"].sum()
break_point_opp_total_l = grouped_atp_2015_losers["w_bpFaced"].sum()
break_point_opp_loss_l = grouped_atp_2015_losers["w_bpSaved"].sum()
svpt_total_l = grouped_atp_2015_losers["l_svpt"].sum()

In [15]:
updated_stats_players_l = pd.DataFrame({"aces":aces_1,
                                   "service_games":service_games_1,
                                     "first_serve_in": first_serve_in_l,
                                     "first_serves_won": first_serves_won_l,
                                     "doubfts": doubfts_l,
                                     "total_brk_saved": total_brk_saved_l,
                                     "total_brk_faced": total_brk_faced_l,
                                     "rt_games_total": rt_games_total_l,
                                     "break_point_opp_total": break_point_opp_total_l,
                                     "break_point_opp_loss": break_point_opp_loss_l,
                                     "svpt_total": svpt_total_l})
updated_stats_players_l.head(20)

,aces,break_point_opp_loss,break_point_opp_total,doubfts,first_serve_in,first_serves_won,rt_games_total,service_games,svpt_total,total_brk_faced,total_brk_saved
loser_name,,,,,,,,,,,
Adrian Mannarino,124.0,103.0,157.0,90.0,1449.0,955.0,366.0,357.0,2323.0,273.0,164.0
Adrian Menendez Maceiras,25.0,7.0,14.0,11.0,199.0,135.0,56.0,54.0,335.0,28.0,14.0
Adrien Bossel,8.0,2.0,2.0,4.0,39.0,28.0,11.0,10.0,75.0,6.0,5.0
Albert Montanes,15.0,27.0,38.0,32.0,293.0,193.0,82.0,79.0,523.0,62.0,32.0
Albert Ramos,70.0,101.0,141.0,53.0,1172.0,746.0,289.0,283.0,1861.0,235.0,144.0
Alejandro Falla,28.0,39.0,54.0,37.0,519.0,331.0,136.0,133.0,842.0,85.0,38.0
Alejandro Gomez GB42,3.0,4.0,6.0,16.0,46.0,28.0,13.0,12.0,94.0,19.0,13.0
Alejandro Gonzalez,35.0,55.0,72.0,25.0,512.0,329.0,131.0,127.0,826.0,88.0,42.0
Aleksandr Nedovyesov,11.0,22.0,26.0,8.0,194.0,125.0,53.0,50.0,302.0,30.0,13.0
Alex Bolt,3.0,4.0,4.0,4.0,39.0,25.0,9.0,9.0,59.0,7.0,4.0
Alexander Kudryavtsev,17.0,7.0,13.0,7.0,130.0,92.0,38.0,37.0,259.0,31.0,22.0
Alexander Sarkissian,9.0,6.0,6.0,5.0,50.0,40.0,15.0,14.0,79.0,3.0,0.0
Alexander Zverev,88.0,52.0,77.0,71.0,840.0,578.0,221.0,216.0,1402.0,127.0,64.0
Alexandr Dolgopolov,175.0,85.0,134.0,84.0,1300.0,916.0,350.0,343.0,2226.0,206.0,118.0
Alexandre Sidorenko,3.0,6.0,7.0,4.0,26.0,18.0,9.0,9.0,49.0,6.0,2.0
Aljaz Bedene,109.0,53.0,80.0,52.0,699.0,494.0,209.0,195.0,1264.0,135.0,69.0
Andre Ghem,2.0,0.0,1.0,2.0,32.0,26.0,10.0,10.0,53.0,5.0,2.0
Andrea Arnaboldi,10.0,6.0,10.0,9.0,154.0,94.0,37.0,38.0,268.0,36.0,21.0
Andreas Beck,7.0,3.0,5.0,4.0,41.0,29.0,14.0,14.0,73.0,3.0,0.0
Andreas Haider Maurer,148.0,61.0,93.0,144.0,1023.0,710.0,289.0,296.0,1901.0,207.0,111.0

In [16]:
updated_stats_players = pd.DataFrame({"aces":aces,
                                   "service_games":service_games,
                                     "first_serve_in": first_serve_in,
                                     "first_serves_won": first_serves_won,
                                     "doubfts": doubfts,
                                     "total_brk_saved": total_brk_saved,
                                     "total_brk_faced": total_brk_faced,
                                     "rt_games_total": rt_games_total,
                                     "break_point_opp_total": break_point_opp_total,
                                     "break_point_opp_loss": break_point_opp_loss,
                                     "svpt_total": svpt_total})
updated_stats_players.head()

,aces,break_point_opp_loss,break_point_opp_total,doubfts,first_serve_in,first_serves_won,rt_games_total,service_games,svpt_total,total_brk_faced,total_brk_saved
winner_name,,,,,,,,,,,
Adrian Mannarino,126.0,141.0,245.0,50.0,1181.0,907.0,318.0,322.0,1963.0,134.0,94.0
Adrian Menendez Maceiras,5.0,4.0,7.0,5.0,63.0,48.0,16.0,16.0,116.0,14.0,11.0
Albert Montanes,24.0,66.0,98.0,24.0,304.0,220.0,82.0,80.0,508.0,47.0,30.0
Albert Ramos,69.0,60.0,111.0,31.0,665.0,501.0,170.0,167.0,1038.0,49.0,38.0
Alejandro Falla,29.0,27.0,56.0,27.0,306.0,221.0,80.0,82.0,558.0,36.0,25.0

In [17]:
frames = [updated_stats_players,updated_stats_players_l]

In [18]:
results = pd.concat(frames)

In [19]:
results = results.reset_index()

In [20]:
full_player_stats = results.groupby(["index"])

In [21]:
len(full_player_stats.groups)

282

In [22]:
total_player_stats = full_player_stats.sum()

In [23]:
total_player_stats.head()

,aces,break_point_opp_loss,break_point_opp_total,doubfts,first_serve_in,first_serves_won,rt_games_total,service_games,svpt_total,total_brk_faced,total_brk_saved
index,,,,,,,,,,,
Adrian Mannarino,250.0,244.0,402.0,140.0,2630.0,1862.0,684.0,679.0,4286.0,407.0,258.0
Adrian Menendez Maceiras,30.0,11.0,21.0,16.0,262.0,183.0,72.0,70.0,451.0,42.0,25.0
Adrien Bossel,8.0,2.0,2.0,4.0,39.0,28.0,11.0,10.0,75.0,6.0,5.0
Albert Montanes,39.0,93.0,136.0,56.0,597.0,413.0,164.0,159.0,1031.0,109.0,62.0
Albert Ramos,139.0,161.0,252.0,84.0,1837.0,1247.0,459.0,450.0,2899.0,284.0,182.0

In [24]:
total_player_stats["ace_pct"] = total_player_stats["aces"]/total_player_stats["svpt_total"]
total_player_stats["df_pct"] = total_player_stats["doubfts"]/total_player_stats["svpt_total"]
total_player_stats["first_serve_won_pct"] = total_player_stats["first_serves_won"]/total_player_stats["first_serve_in"]
total_player_stats["broken_pct"] = (total_player_stats["total_brk_faced"]-total_player_stats["total_brk_saved"])/total_player_stats["service_games"]
total_player_stats["breaking_pct"] = (total_player_stats["break_point_opp_total"]-total_player_stats["break_point_opp_loss"])/total_player_stats["rt_games_total"]
total_player_stats["break_conversion_pct"] = (total_player_stats["break_point_opp_total"]-total_player_stats["break_point_opp_loss"])/total_player_stats["break_point_opp_total"]

In [25]:
total_player_stats = total_player_stats.fillna(0)
total_player_stats.head()

,aces,break_point_opp_loss,break_point_opp_total,doubfts,first_serve_in,first_serves_won,rt_games_total,service_games,svpt_total,total_brk_faced,total_brk_saved,ace_pct,df_pct,first_serve_won_pct,broken_pct,breaking_pct,break_conversion_pct
index,,,,,,,,,,,,,,,,,
Adrian Mannarino,250.0,244.0,402.0,140.0,2630.0,1862.0,684.0,679.0,4286.0,407.0,258.0,0.058329,0.032664,0.707985,0.219440,0.230994,0.393035
Adrian Menendez Maceiras,30.0,11.0,21.0,16.0,262.0,183.0,72.0,70.0,451.0,42.0,25.0,0.066519,0.035477,0.698473,0.242857,0.138889,0.476190
Adrien Bossel,8.0,2.0,2.0,4.0,39.0,28.0,11.0,10.0,75.0,6.0,5.0,0.106667,0.053333,0.717949,0.100000,0.000000,0.000000
Albert Montanes,39.0,93.0,136.0,56.0,597.0,413.0,164.0,159.0,1031.0,109.0,62.0,0.037827,0.054316,0.691792,0.295597,0.262195,0.316176
Albert Ramos,139.0,161.0,252.0,84.0,1837.0,1247.0,459.0,450.0,2899.0,284.0,182.0,0.047948,0.028976,0.678824,0.226667,0.198257,0.361111

In [26]:
matchups_2016 = pd.read_csv("2016_match_results.csv")
matchups_2016 = matchups_2016[['Player 1.1', 'Player 2.1', 'Player_1_Win.1']]
matchups_2016.columns = [['player_1', 'player_2', "player_1_win"]]
matchups_2016.head()

        player_1         player_2 player_1_win
0  Roger Federer     Milos Raonic            0
1  Roger Federer    Dominic Thiem            1
2  Bernard Tomic     Milos Raonic            0
3  Roger Federer  Grigor Dimitrov            1
4    Marin Cilic    Dominic Thiem            0

In [27]:
matchups_2016['ace_pct'] = 0
ace_pct = total_player_stats.loc['Roger Federer']['ace_pct'] - total_player_stats.loc['Milos Raonic']['ace_pct']
print(type(ace_pct))
matchups_2016.loc[0,'ace_pct'] = ace_pct
matchups_2016.head()

<class 'numpy.float64'>

        player_1         player_2 player_1_win   ace_pct
0  Roger Federer     Milos Raonic            0 -0.075908
1  Roger Federer    Dominic Thiem            1  0.000000
2  Bernard Tomic     Milos Raonic            0  0.000000
3  Roger Federer  Grigor Dimitrov            1  0.000000
4    Marin Cilic    Dominic Thiem            0  0.000000

In [28]:
matchups_2016['ace_pct'] = 0
matchups_2016['df_pct'] = 0
matchups_2016['first_serve_pct'] = 0
matchups_2016['broken_pct'] = 0
matchups_2016['breaking_pct'] = 0
matchups_2016['break_conversion_pct'] = 0

for index, row in matchups_2016.iterrows():
    player_1 = row['player_1']
    player_2 = row['player_2']
    if player_1 in total_player_stats.index and player_2 in total_player_stats.index:
        ace_pct = total_player_stats.loc[player_1]['ace_pct'] - total_player_stats.loc[player_2]['ace_pct']
        df_pct = total_player_stats.loc[player_1]['df_pct'] - total_player_stats.loc[player_2]['df_pct']
        first_serve_pct = total_player_stats.loc[player_1]['first_serve_won_pct'] - total_player_stats.loc[player_2]['first_serve_won_pct']
        broken_pct = total_player_stats.loc[player_1]['broken_pct'] - total_player_stats.loc[player_2]['broken_pct']
        breaking_pct = total_player_stats.loc[player_1]['breaking_pct'] - total_player_stats.loc[player_2]['breaking_pct']
        break_conversion_pct = total_player_stats.loc[player_1]['break_conversion_pct'] - total_player_stats.loc[player_2]['break_conversion_pct']
        matchups_2016.loc[index, 'ace_pct'] =  ace_pct
        matchups_2016.loc[index, 'df_pct'] = df_pct
        matchups_2016.loc[index, 'first_serve_pct'] = first_serve_pct
        matchups_2016.loc[index, 'broken_pct'] = broken_pct
        matchups_2016.loc[index, 'breaking_pct'] =  breaking_pct
        matchups_2016.loc[index, 'break_conversion_pct'] = break_conversion_pct
    else: 
        continue
    
len(matchups_2016)

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [ ]:
matchups1_2016 = matchups_2016[matchups_2016.first_serve_pct != 0]
matchups1_2016[pd.isnull(matchups1_2016).any(axis=1)]

In [ ]:
X = matchups1_2016.drop(["player_1_win", "player_1", "player_2"], axis=1)
y = matchups1_2016["player_1_win"]
print(X.shape, y.shape)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

In [ ]:
classifier.fit(X_train, y_train)

In [ ]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

In [ ]:
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [34]:
total_player_stats.index

Index(['Adrian Mannarino', 'Adrian Menendez Maceiras', 'Adrien Bossel',
       'Albert Montanes', 'Albert Ramos', 'Alejandro Falla',
       'Alejandro Gomez GB42', 'Alejandro Gonzalez', 'Aleksandr Nedovyesov',
       'Alex Bolt',
       ...
       'Yan Bai', 'Yaraslau Shyla', 'Yassine Idmbarek', 'Yasutaka Uchiyama',
       'Yen Hsun Lu', 'Yoshihito Nishioka', 'Yuichi Sugita', 'Yuki Bhambri',
       'Ze Zhang', 'Zhizhen Zhang'],
      dtype='object', name='index', length=282)

In [39]:
matchups_2016['ace_pct'] = 0
matchups_2016['df_pct'] = 0
matchups_2016['first_serve_pct'] = 0
matchups_2016['broken_pct'] = 0
matchups_2016['breaking_pct'] = 0
matchups_2016['break_conversion_pct'] = 0

index = 0
row = matchups_2016.iloc[index]


player_1 = row['player_1']
player_2 = row['player_2']
if player_1[index] in total_player_stats.index and player_2[index] in total_player_stats.index:
    ace_pct = total_player_stats.loc[player_1]['ace_pct'] - total_player_stats.loc[player_2]['ace_pct']
    df_pct = total_player_stats.loc[player_1]['df_pct'] - total_player_stats.loc[player_2]['df_pct']
    first_serve_pct = total_player_stats.loc[player_1]['first_serve_won_pct'] - total_player_stats.loc[player_2]['first_serve_won_pct']
    broken_pct = total_player_stats.loc[player_1]['broken_pct'] - total_player_stats.loc[player_2]['broken_pct']
    breaking_pct = total_player_stats.loc[player_1]['breaking_pct'] - total_player_stats.loc[player_2]['breaking_pct']
    break_conversion_pct = total_player_stats.loc[player_1]['break_conversion_pct'] - total_player_stats.loc[player_2]['break_conversion_pct']
    matchups_2016.loc[index, 'ace_pct'] =  ace_pct
    matchups_2016.loc[index, 'df_pct'] = df_pct
    matchups_2016.loc[index, 'first_serve_pct'] = first_serve_pct
    matchups_2016.loc[index, 'broken_pct'] = broken_pct
    matchups_2016.loc[index, 'breaking_pct'] =  breaking_pct
    matchups_2016.loc[index, 'break_conversion_pct'] = break_conversion_pct

    
len(matchups_2016)

3004

In [33]:
player_1

player_1    Roger Federer
Name: 0, dtype: object

In [35]:
pd.__version__

'0.22.0'

In [38]:
player_1[0]

'Roger Federer'